<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Scala.Installer" Language="1033" Version="1.0.0.0" Manufacturer="Michael Dick" UpgradeCode="b82a54ac-fcbd-41ee-8c06-7b46f333b247">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Scala.Installer" Level="1">
			<ComponentGroupRef Id="Scala.tmbundle" />    
		</Feature>
	</Product>

	<Fragment>
    <SetDirectory Id="INSTALLFOLDER" Value="[%USERPROFILE]\.vs\Extensions\Scala.tmbundle" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="INSTALLFOLDER" Name="Scala.tmbundle" />							
		</Directory>
	</Fragment>
  
  
</Wix>